.App {
  text-align: center;
}

h1{
  color:rgb(105, 144, 170)
}

img {
  width: 10rem;
  height: auto;
}

#nomefilme {
  font-size: 1.5rem;
}

#generofilme {
  font-size: 1rem;
}

#pesquisa {
  padding: 10px;
  width: 20%;
  height: 2rem;
  margin: 20px;
  background-color: gray;
  color: black;
}

#pesquisa::placeholder{
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: floralwhite;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid rgb(102, 95, 82);
  text-align: center;
}

th {
  color: rgb(105, 144, 170);
  text-decoration: underline;
}